* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

#app {
    display: flex;
    height: 100vh;
    padding: 30px;
    max-width: 1500px;
    margin: auto;
    max-height: 1000px;
    margin-top: 20px;
    
}





@font-face {
    font-family:'BebasNeue_R';
    src: url(fonts/BebasNeue-Regular\ \(kopia\).ttf);
}